<html>
    <h1>Интернет-маркетолог</h1>
    <p>Сможете больше узнать о курсе, а также попробовать решить задачу интернет-маркетолога и понять, подходит ли вам это. Чтобы получить доступ к бесплатной части, нужно будет зарегистрироваться — так мы сможем сохранять ваш прогресс.</p>   
    <img src="https://u.netology.ngcdn.ru/backend/uploads/legacy/metadata/og_image/2442/%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%D0%BE%D0%BB%D0%BE%D0%B3-min.png" alt="альтернативный текст" />
</html>